language: ruby
cache: bundler
sudo: false
rvm:
- 2.2.2
- 2.2.1
- 2.2.0
- 2.1.6
- 2.0.0-p598
- 1.9.3-p551
notifications:
  email: false
  irc:
    template:
    - "%{repository}/%{branch}/%{build_number}: %{message} -- %{build_url}"
    channels:
    - irc.oftc.net#akerl
